body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: aqua;
}
.container {
  background-color: beige;
  height: 70%;
  width: 60%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftHeader {
  border-radius: 20px;
  flex: 1;
  background: navy;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .profileImg {
  background-color: #fff;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  filter: blur(1);
} */
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.rightInfo {
  border-radius: 20px;
  flex: 1;
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
