body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/profileBg.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
}
.container {
  height: 70%;
  width: 60%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.leftHeader {
  border-radius: 20px;
  flex: 1;
  /* background: navy; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.leftImg {
  position: absolute;
  background-image: url(./assets/profileImg.jpeg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  filter: sepia(5);
  -webkit-filter: sepia(5);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 20px;
}
.profileImg,
.keyProfileInfo {
  z-index: 2;
}

.keyProfileInfo h2 {
  color: white;
  font-size: 2.5rem;
}
.keyProfileInfo h5 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
h5 span {
  display: inline-flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;
}

.keyProfileInfo {
  text-align: center;
}
.keyProfileInfo h2 {
  margin: 0;
  text-shadow: 0px 11px 22px rgba(22, 6, 53, 0.6);
}
.keyProfileInfo h5 {
  margin: 0;
  text-shadow: 0px 11px 22px rgba(22, 6, 53, 0.6);
}
.keyProfileInfo h5 span {
  font-weight: 700;
  font-style: italic;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.rightInfo {
  border-radius: 20px;
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.blurBg {
  padding: 40px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.headInfo {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.headInfo h5 {
  margin: 0;
  text-align: center;
  font-size: small;
  font-weight: 400;
}
.headInfo p {
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #673fd7;
  text-shadow: 0px 0px 30px rgba(22, 6, 53, 0.6);
}
.headInfo button {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headInfo button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 15px;
  }
  .keyProfileInfo h2 {
    color: white;
    font-size: 2rem;
  }
  .blurBg {
    gap: 5px;
    padding: 10px;
  }
  .headInfo button {
    padding: 0 2.6rem;
  }
}
